@font-face {
    font-family: "IrishGrover";
    src: url('../resources/font/IrishGrover-Regular.ttf');
}

body,
html {

    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
    text-align: center;
}

* {
    font-family: IrishGrover;
    padding: 0px;
    margin: 0px;
}

.title {
    /* letter-spacing: 5px; */
    font-size: 28px;
    font-weight: 100;
}

.msgContainer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    margin: 5% auto;
}

.mainApp {

    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    background-image: url('../resources/bg.jpg');
    height: 100%;
}

.topbar {
    /* background-color: darkgray; */
    background-color: #D3ABFFB3;
    padding: 1% 2%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
    line-height: 0;
    /* adding line-height property adjusts the text from getting cut in half */

}

.contentArea {
    /* background-color: cornflowerblue; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 7%;

}

.gameBox {
    background-color: none;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin: 21% auto auto;
    padding: 3%;
    height: 60%;
    width: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    aspect-ratio: 1;
}

.box {
    /* background-color: black; */
    background-color: #D3ABFFB3;
    border-radius: 11px;
    aspect-ratio: 1;
}

button {
    background: black;
    cursor: pointer;
    border: none;
    font-size: 35px;
    font-weight: 100;
    color: white;
}

.msg {
    font-size: 35px;
    font-weight: 100;
}