@font-face {
    font-family: "Medodica";
    src: url(font/MedodicaRegular.otf);
}

body,
html {
    font-family: Medodica;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    /* background-image: url("assets/bg7.jpg"); */
    background-image: url("assets/pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

h3 {
    color: aliceblue;
    font-weight: 100;
    font-size: xx-large;
}

.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;

}

.contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    color: rgb(131, 34, 34);
    font-size: clamp(45px, 3vmin, 24px);
    flex: 1;
}

.topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    /* background: rgba(240, 134, 174, 0.3); */
    background: rgb(255, 181, 191);
    user-select: none;
    -webkit-user-select: none;
}

.contentArea * {
    -webkit-user-drag: none;
}

.titlebar {
    flex: 5;
    align-items: center;
    justify-content: flex-start;
    -webkit-app-region: drag;
}

.titlebarbtn {
    flex: 1;
    justify-content: flex-end;
    /* padding-right: 10px; */
}

#strawberry {
    width: 75%;
    display: block;
    margin: 0 auto;
}

.closeBtn {
    background-image: url('./assets/exit.png');
    background-size: contain;
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: transparent;
    border: none;
    /* padding-right: 0.2rem; */
    margin-right: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.topbtn:hover {

    box-shadow: 0 0 5px 0.3px rgba(249, 249, 249, 0.8);
}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;

}

.icon {
    height: 90%;
}